.btn { font-size:12px;padding:7.5px; }
.hide-block { display:none; }
/* app-icons-sizes */
.app-icon-s0 { width:100px;height:auto; }
.app-icon-s1 { width:130px;height:auto; }
.app-icon-s2 { width:110px;height:auto; }
.app-icon-s3 { width:250px;height:auto; }
.app-icon-s4 { width:150px;height:auto; }

/* heights */
.hgt5p { height:5px; } 
.mhgt0p { min-height:0px; }
/* fonts */
@font-face { font-family: "mlhfont001";src: url("../../fonts/BAUHS93.TTF"); }
@font-face { font-family: "mlhfont002";src: url("../../fonts/Boogaloo-Regular.otf"); }

/* font-sizes */
.f10p{ font-size:10px; }
.f12p { font-size:12px; }
.f14p { font-size:14px; }

/* font-colors */
.font-white { color:#fff; }
.font-grey { color:#555; }

.bg-grey { background-color:#f5f5f5; }

/* form-control */
.form-control-pink { border-color:#f00044; }
.form-control-yellow { border-color:#e98600; }

/* margins-top: */ 
.mtop10p { margin-top:10px; }
.mtop15p { margin-top:15px; }
.mtop25p { margin-top:25px; }
.mtop50p { margin-top:50px; }
.mtop60p { margin-top:60px; }
.mtop100p { margin-top:100px; }
.mtop120p { margin-top:120px; }
.mtop160p { margin-top:160px; }

/* margins-bottom: */ 
.mbot0p { margin-bottom:0px; }
.mbot10p { margin-bottom:10px; }
.mbot15p { margin-bottom:15px; }
.mbot25p { margin-bottom:25px; }
.mbot35p { margin-bottom:35px; }

.pad0 { padding:0px; }

/* Elements: */


/* Btns */
.btn-lgt-pink,.btn-lgt-pink:hover,.btn-lgt-pink:active  { background-color:#fbe4de;color:#f00044;border-color:#f00044; }
.btn-pink,.btn-pink:hover,.btn-pink:active  { background-color:#f00044;color:#fff;border-color:#ccc; }

.btn-yellow-o,.btn-yellow-o:hover,.btn-yellow-o:active  { background-color:#fff;color:#e98600;border-color:#e98600; }
.btn-lgt-yellow,.btn-lgt-yellow:hover,.btn-lgt-yellow:active  { background-color:#f9e7b1;color:#e98600;border-color:#e98600; }


.btn-purple,.btn-purple:hover,.btn-purple:active,.btn-purple-o:hover,.btn-purple-o:active  { background-color:#69053b;
color:#fff;border-color:#ccc; }
.btn-lgt-purple,.btn-lgt-purple:hover,.btn-lgt-purple:active,.btn-lgt-purple-o:hover,.btn-lgt-purple-o:active  { 
background-color: #f5bcdb;color: #69053b;border-color:#69053b }
.btn-purple-o { background-color:#fff;color:#69053b;border-color:#69053b; }


.btn-lgt-green,.btn-lgt-green:hover,.btn-lgt-green:active  { background-color:#b3f5b6;color:#076903;border-color:#076903; }
